* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}


.startpage {


    margin: 0 auto;
    background-image: url(assets/images/bg.jpg);
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;


}

.shadoweffect {
    margin: 0 auto;

    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;


    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%)
}

.header {


    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 100%;



}

.navbar {


    width: 80%;




    display: flex;
    justify-content: space-between;
    max-height: 163px;

}

.navbar img {
    width: 173px;
}

.navbar .signin {
    height: 32px;
    width: 102px;
    background-color: red;
    font-size: 10px;
    color: white;
    border: none;
    border-radius: 05px;
}




.centertext {


    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 168px;

    column-gap: 223px;

}

.unlimitedtext {

    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 22px;


}


.unlimitedtext h1 {
    font-size: 3rem;
    font-weight: 900;

}


.unlimitedtext p {

    font-size: 1.5rem;
    font-weight: 400;


}

.unlimitedtext h2 {


    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}


.mailbtn {

    display: flex;

    gap: 12px;

}


.inputbox {


    width: 24rem;
    background-color: #00000085;


    border-radius: 0.4rem;
    border-color: white;


    padding: 22px 211px 22px 0px;

}

.inputbox p {

    font-weight: lighter;
    font-size: 1.3rem;
}


.startedbtn {

    background-color: red;
    padding: 18px;
    border-radius: 0.3rem;


}

.startedbtn a {

    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Helvetica;



}

.singlebar {

    height: 0.5rem;
    display: block;
    background-color: rgb(35, 35, 35);
}

.scndpage {

    height: auto;
    padding: 4.3rem;
    background-color: black;
    align-items: center;

}

.tvimg {


    position: relative;
    width: 480px;
    height: 270px;


}

.tv {

    padding: 8rem 0rem;
}

.tvimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 99999;
    position: relative;
}

.tvimg::after {

    content: "";
    position: absolute;
    top: 11%;
    left: 13%;
    height: 73%;
    width: 73%;

    background-image: url(assets/video/video.gif);
    background-repeat: no-repeat;

}

.scndcontainer {
    display: flex;
    /* max-width: calc(76% - 2rem); */
    justify-content: center;
}

.scndcontainer .enjoytext {
    color: white;
    align-items: center;
    align-content: centers;
    padding: 13rem 0rem;
}

.scndcontainer h1 {
    font-size: 3.2rem;
}

.scndcontainer h3 {
    font-weight: 100;
    font-size: 1.6rem;
    margin: 0.3rem 0rem;
}


/* This is a 3rd section */ 


.thirdpage {


    background-color: black;

}

.thirdcontainer {



    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;

}

.txtthird {

    justify-content: center;
    align-content: center;
    padding: 7rem 0rem;

    color: white;
}

.txtthird h1 {
    font-size: 3rem;
    padding: 1rem 0rem;

}

.txtthird p {

    font-size: 1.5rem;
}


/* This is a end of third box in CSS */ 

.pagefour {
    padding: 3rem 0rem;
    background-color: black;

}

.fourcontainer {
    display: flex;
    justify-content: center;
}

.fourcontainer h1 {
    color: white;
    font-size: 3rem;

}

.fourcontainer p {

    color: white;
    font-size: 1.5rem;
}

.blankcontainer {

    padding: 0rem 14rem;

    display: flex;
    background-color: black;

}




/* This is 5th section and comntainer  */

.fivthbox {

    padding: 2rem 0rem;
    
    background-color: black;
}

.fivecontaner {

    display: flex;
    justify-content: center;
    width: 90%;
    

}
.fiveimg img{
 
}


.fivetxt {
    color: white;

    padding: 13rem 0rem;

}

.fivetxt h1 {

    font-size: 3rem;
    padding: 1rem 0rem;
}

.fivetxt p {
    font-size: 1.5rem;
}



.sixthsection {

    background-color: black;
    padding: 6rem;
}


.sixcontainer {
    align-items: center;

}


.frequecttxt {


    color: white;
    font-size: 34;
    font-weight: 900;
    display: flex;
    justify-content: center;



}


.centerbtns {
    position: relative;

}

.btns {

    padding: 2rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;

}


.whatisnetflix {
    display: flex;
    justify-content: space-between;
}

.whatisnetflix {
    cursor: pointer;
    background-color: rgb(45, 45, 45);
    padding: 1.4rem 2rem;


    color: white;
    border-radius: 0%;
    border: none;
    outline: none;
    gap: 58rem;


}

.whatisnetflix:hover {
    background-color: rgb(68, 67, 67);

}


.onetext {

    font-size: 1.2rem;
    padding: 0.6rem 0rem;

}

.oneicon {
    font-size: 0.1rem;
}

.btns2 {
    padding: 0.01rem 0rem;
    display: flex;
    justify-content: center;
}

.whatisnetflix2 {
    cursor: pointer;
    background-color: rgb(45, 45, 45);
    padding: 1.4rem 2rem;
    display: flex;

    color: white;
    border-radius: 0%;
    border: none;
    outline: none;
    gap: 45.7rem;

}

.btns3 {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
}

.whatisnetflix3 {
    cursor: pointer;
    background-color: rgb(45, 45, 45);
    padding: 1.4rem 2rem;
    display: flex;

    color: white;
    border-radius: 0%;
    border: none;
    outline: none;
    gap: 54rem;

}

.btns4 {

    display: flex;
    justify-content: center;
}

.whatisnetflix4 {

    cursor: pointer;
    background-color: rgb(45, 45, 45);
    padding: 1.4rem 2rem;
    display: flex;
    justify-content: space-between;

    color: white;
    border-radius: 0%;
    border: none;
    outline: none;
    gap: 54rem;

}


.buttomtxt {
    color: white;
    padding: 3rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 1.5rem;
}


.buttommail {





    display: flex;
    justify-content: center;
    padding: 1rem;
}

.inputbox2 {

    width: 24rem;
    background-color: #ffffff0c;


    border-radius: 0.4rem;
    border-color: white;
    border: 4rem;
    color: white;


    padding: 22px 31px 22px 0px;

}

.inputbox2 p {

    font-weight: lighter;
    font-size: 1.3rem;
    margin: 0rem 3rem;
}

.footer {

    display: flex;
    justify-content: center;


    align-items: center;
    background-color: black;

}

.footercontainer {




    width: 81rem;

}



.footercontainer h3 {
    padding: 5rem 0rem 0rem 0rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 01rem;
    font-weight: lighter;
    text-decoration: underline;
}


.fourtext div {

    height: 2rem;
    width: 19rem;
}

.fourtext {
    text-align: left;
    display: flex;

    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.7);
    padding: 1rem 0rem 0rem 0rem;
    font-size: 0.85rem;
    font-weight: 400;

    text-decoration: underline;
}




.english button {
    padding: 2rem 0rem 0rem 0rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    border: 3rem;
    border-color: white;
    font-size: 1.3rem;
    border-radius: 2rem;




}


.english button img {
    color: white;
}



.pakistan {

    color: rgba(255, 255, 255, 0.7);

    padding: 2rem 0rem;
}





/* MEDIA QUERY STARTED HERE**********/



@media (max-width: 1450px) {

    .navbar {


        width: 80%;




        display: flex;
        justify-content: space-between;
        max-height: 163px;

    }


    .centerbtns {
        position: relative;

    }

    .btns {

        padding: 2rem 0rem 1rem 0rem;
        display: flex;
        justify-content: center;

    }


    .whatisnetflix {
        display: flex;
        justify-content: space-between;
    }

    .whatisnetflix {
        cursor: pointer;
        background-color: rgb(45, 45, 45);
        padding: 1.4rem 2rem;


        color: white;
        border-radius: 0%;
        border: none;
        outline: none;
        gap: 58rem;


    }

    .whatisnetflix:hover {
        background-color: rgb(68, 67, 67);

    }


    .onetext {

        font-size: 1.2rem;
        padding: 0.6rem 0rem;

    }

    .oneicon {
        font-size: 0.1rem;
    }

    .btns2 {
        padding: 0.01rem 0rem;
        display: flex;
        justify-content: center;
    }

    .whatisnetflix2 {
        cursor: pointer;
        background-color: rgb(45, 45, 45);
        padding: 1.4rem 2rem;
        display: flex;

        color: white;
        border-radius: 0%;
        border: none;
        outline: none;
        gap: 45.7rem;

    }

    .btns3 {
        padding: 1rem 0rem;
        display: flex;
        justify-content: center;
    }

    .whatisnetflix3 {
        cursor: pointer;
        background-color: rgb(45, 45, 45);
        padding: 1.4rem 2rem;
        display: flex;

        color: white;
        border-radius: 0%;
        border: none;
        outline: none;
        gap: 54rem;

    }

    .btns4 {

        display: flex;
        justify-content: center;
    }

    .whatisnetflix4 {

        cursor: pointer;
        background-color: rgb(45, 45, 45);
        padding: 1.4rem 2rem;
        display: flex;
        justify-content: space-between;

        color: white;
        border-radius: 0%;
        border: none;
        outline: none;
        gap: 54rem;

    }


    .centerbtns {
        position: relative;
    }



    .btns {

        padding: 2rem 0rem 1rem 0rem;
        display: flex;
        justify-content: center;

    }


    .whatisnetflix {
        display: flex;
        justify-content: space-between;
    }

    .whatisnetflix {

        gap: 42rem;


    }

    .whatisnetflix:hover {
        background-color: rgb(68, 67, 67);

    }


    .whatisnetflix2 {

        gap: 30.7rem;

    }


    .whatisnetflix3 {

        gap: 39rem;

    }

    .whatisnetflix4 {

        gap: 39rem;

    }


    .footer {

        display: flex;
        justify-content: center;


        align-items: center;
        background-color: black;

    }

    .footercontainer {




        width: 61rem;

    }

    .fourtext div {

        height: 2rem;
        width: 15rem;
    }


}

@media (max-width: 1212px) {


    .centerbtns {
        position: relative;
    }



    .btns {

        padding: 2rem 0rem 1rem 0rem;
        display: flex;
        justify-content: center;

    }


    .whatisnetflix {
        display: flex;
        justify-content: space-between;
    }

    .whatisnetflix {

        gap: 32rem;


    }

    .whatisnetflix:hover {
        background-color: rgb(68, 67, 67);

    }


    .whatisnetflix2 {

        gap: 20.7rem;

    }


    .whatisnetflix3 {

        gap: 29rem;

    }

    .whatisnetflix4 {

        gap: 29rem;

    }
}


@media (max-width: 1048px) {

    
.mailbtn {

    display: flex;
    flex-direction: column;



}




    
.inputbox {


    width: 24rem;
    background-color: #00000085;


    border-radius: 0.4rem;
    border-color: white;


    padding: 22px 211px 22px 0px;

}

.inputbox p {

    font-weight: lighter;
    font-size: 1.3rem;
}


.startedbtn {

    background-color: red;
    padding: 18px;
    border-radius: 0.3rem;


}

.startedbtn a {

    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Helvetica;



}


    .thirdpage{
      
    }
    .thirdcontainer{
        width: 77%;
        align-items: center;
    }



    .centerbtns {
        position: relative;
    }



    .btns {

        padding: 2rem 0rem 1rem 0rem;
        display: flex;
        justify-content: center;

    }


    .whatisnetflix {
        display: flex;
        justify-content: space-between;
    }

    .whatisnetflix {

        gap: 22rem;


    }

    .whatisnetflix:hover {
        background-color: rgb(68, 67, 67);

    }


    .whatisnetflix2 {

        gap: 10.7rem;

    }


    .whatisnetflix3 {

        gap: 19rem;

    }

    .whatisnetflix4 {

        gap: 19rem;

    }


    .footercontainer{

        width: 51rem;
    }

    .footercontainer{
        
    }



    
.fourtext div {

    height: 2rem;
    width: 11rem;
}

.mailbtn{
    align-items: center;
}




}


@media (max-width: 884px){



    .centerbtns {
        position: relative;
    }



    .btns {

        padding: 2rem 0rem 1rem 0rem;
        display: flex;
        justify-content: center;

    }


    .whatisnetflix {
        display: flex;
        justify-content: space-between;
    }
    .whatisnetflix img{
        width: 75%;
    }

    .whatisnetflix {

        gap: 8rem;
       
       


    }
    .whatisnetflix h1{
        font-size: 1.6rem;
        font-weight: lighter;

    }

    .whatisnetflix:hover {
        background-color: rgb(68, 67, 67);

    }


    .whatisnetflix2 {

        gap: 0rem;

    }
    .whatisnetflix2 h1{
        font-size: 1.48rem;
        font-weight: lighter;

    }
    .whatisnetflix2 img{
        width: 75%;
    }



    .whatisnetflix3 {

        gap: 29rem;

    }

    .whatisnetflix4 {

        gap: 29rem;

    }



.scndpage {

    height: auto;
    padding:3rem;
    background-color: black;
    align-items: center;

}

.tvimg {


    position: relative;
    width: 480px;
    height: 270px;


}

.tv {

    padding: 1rem 0rem;
}

.tvimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 99999;
    position: relative;
}

.tvimg::after {

    content: "";
    position: absolute;
    top: 11%;
    left: 13%;
    height: 73%;
    width: 73%;

    background-image: url(assets/video/video.gif);
    background-repeat: no-repeat;

}

.scndcontainer {
    display: flex;
    flex-direction: column-reverse;
    /* max-width: calc(76% - 2rem); */
    justify-content: center;
    align-items: center;
}

.scndcontainer .enjoytext {
    color: white;
    align-items: center;
    align-content: centers;
    padding: 0rem 0rem;
}

.scndcontainer h1 {
    font-size: 3.2rem;
}

.scndcontainer h3 {
    font-weight: 100;
    font-size: 1.6rem;
    margin: 0.3rem 0rem;
}


.thirdcontainer {



    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}
.txtthird {

    justify-content: center;
    align-content: center;
    padding: 0rem 0rem;

    color: white;
}



.fivecontaner {

    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    width: 90%;
    

}
.fivthbox {

    padding: 2rem 0rem;
    
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}


.fiveimg img{
 
}


.fivetxt {
    color: white;

    padding: 0rem 0rem;

}

.fivetxt h1 {

    font-size: 3rem;
    padding: 1rem 0rem;
}

.fivetxt p {
    font-size: 1.5rem;
}
.txtthird h1 {
    font-size: 3rem;
    padding: 0rem 0rem;

}

.pagefour {
    padding: 0rem 0rem 3rem 0rem;
    background-color: black;

}

.fourcontainer {
    padding: 4rem;
    display: flex;
    justify-content: center;
}

.fourcontainer h1 {
    color: white;
    font-size: 3rem;

}

.fourcontainer p {

    color: white;
    font-size: 1.5rem;
}

.blankcontainer {

    padding: 0rem 0rem;

    display: flex;
    background-color: black;

}

.footercontainer{

    width: 41rem;
}


.fourtext div {

    height: 2rem;
    width: 10rem;
}






    
}
